# Ignore working directories
src/
pkg/

# Ignore all packages and tarballs
*.bin
*.deb
*.gem
*.run
*.rpm
*.run
*.tar.bz2
*.tar.gz
*.tar.xz
*.tgz
*.xpi
*.zip
*.vim

# Ignore partially downloaded files
*.part

# Ignore signature files
*.asc

# Ignore .swp files
*.swp
